table {
  border: 1px solid $black;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;

  td {
    background: $white;
    vertical-align: top;

    &:first-of-type {
      width: 150px;
    }

    main {
      padding: 1rem;
    }
  }
}
