$sans: Verdana, sans-serif;
$serif: Times, serif;

body {
  background: $gray;
  color: $black;
  font-family: $sans;
  font-size: 0.8rem;
}

h1 {
  font-family: $serif;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

p {
  line-height: 1.4;
  margin-bottom: 1rem;
}

b, strong {
  font-weight: bold;
}

a {
  &:hover {
    color: $purple;
    font-weight: bold;
    text-decoration: none;
  }
}
