$sans: Verdana, sans-serif;
$serif: Times, serif;

body {
  color: $black;
  font-family: $serif;
  font-size: 1rem;
}

h1 {
  font-family: $serif;
  font-size: 4rem;
}

p {
  line-height: 1.4;
  margin-bottom: 1rem;
}

b, strong {
  font-weight: bold;
}

a {
  color: $blue;

  &:hover {
    color: $purple;
    font-weight: bold;
    text-decoration: none;
  }
}
