header {
  background: url('../img/stripe-bg.jpg');
  background-size: contain;
  color: $white;
  padding: 0.5rem;
  text-align: center;
  text-shadow: 1px 1px 5px $black;

  p {
    color: lighten($purple, 35%);
    font-family: $sans;
    font-size: 1rem;
    font-style: italic;
    left: 4.8rem;
    margin: 0;
    position: relative;
    text-transform: uppercase;
    top: -0.8rem;
  }
}
