nav {
  font-family: $sans;
  font-size: 0.8rem;
  margin-top: 1rem;

  a {
    color: $purple;
    display: block;
    padding-bottom: 1rem;
    text-align: center;
    text-decoration: none;

    &.active {
      background: $ltpurple;
      border-radius: 0.5rem;
    }
  }

  img {
    display: block;
    margin: 0 auto;
    width: 50px;
  }
}
