nav {
  background: $black;
  padding: 1rem 0 4rem;

  a {
    color: $purple;
    display: inline-block;
    font-weight: bold;
    padding: 0.5rem 2rem;
    text-align: center;
    text-decoration: none;
    width: 100%;

    &:hover {
      color: lighten($purple, 10%);
    }
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: 60px;
  }
}
